/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0;
  background-color: #ffffff;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  padding-right: 0px;
}
footer nav li {
  position: relative;
  left: -100px;
}

/**** Filter ****/

#filter-container {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.filter-button {
  padding: 10px 20px;
  border: 1px;
  border-style: solid;
  border-color: #1D6154;
  border-radius: 20px;
  background-color: #FFFEF8;
  color: #1D6154;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  font-family: "Syne";
}

.filter-button:hover {
  background-color: #1D6154;
  color : #ffffff;
}

/**** LOGIN PAGE ****/

.login {
  margin-top: 150px;
}

#error-message {
  display:none; 
  color:red;
  margin-bottom: 30px;
}

.page {
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: center;
  color: #1D6154;
  font-family: "Syne";
  font-size: 30px;
  margin-bottom: 50px;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-group {
  width: 359px;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #3D3D3D;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 31px;
  padding: 10px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.button {
  width: 179px;
  height: 36px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1D6154;
  color: #FFFEF8;
  cursor: pointer;
  outline: none;
  font-family: "Syne";
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #3D3D3D;
}

.footer-login {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/**** LOGGED IN ****/
#edit {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 59px;
  background-color: #000000;
  color: #ffffff;
}

.display {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.content {
  margin-top: 20px;
}

#project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding-left: 14%;
  margin-bottom: 50px;
}

#project-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  background-color: transparent;
  margin-top: 8px;
  color:#000000;
  font-weight: 400;
  font-family: "work sans";
  font-size: 14px;
  cursor: pointer;
}

/* Le style du fond */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place */
  z-index: 1; /* Situé au-dessus */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Permet de scroller si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de fond */
  background-color: rgba(0,0,0,0.4); /* Noir avec opacité */
}

/* Le style du contenu du modal */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
  width: 420px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 30%;
  padding: 50px 100px;
}

body.modal-open {
  overflow: hidden;
}

/* Le bouton de fermeture (x) */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  left: 60px;
  top: -20px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.gallery-title {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  text-align: center;
  position: relative;
  top: 5%;
  font-family: "Work sans";
  color: black;
  margin-bottom: 50px;
}

.photo-title {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  text-align: center;
  position: relative;
  top: -20px;
  font-family: "Work sans";
  color: black;
  margin-bottom: 50px;
}

.modal-gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8.9px;
  margin-bottom: -20px;
}

.modal-gallery figure {
  margin-bottom: 30px;
}

.modal-item {
  display: flex;
  width: 76.86px;
  height: 102.57px;
  position: relative;
  right: 16.5px;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-button {
  width: 237px;
  height: 36px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1D6154;
  color: #FFFEF8;
  cursor: pointer;
  outline: none;
  font-family: "Syne";
}

.line-separator {
  width: 314.19px;
  border-top: 1px solid #B3B3B3;
  padding: 0 12.6%;
  margin: 50px 0;
}

.trash {
  width: 7px;
  height: 7px;
  position: relative;
  left: 71px;
  top: 5px;
  background-color: black;
  padding: 5px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.fa-trash-can {
  color: white;
  font-size: 11px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
}

.add-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 420px;
  height: 169px;
  background-color: #E8F1F6;
  margin-bottom: 30px;
}

#image-preview {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#file-input {
  display: none;
}

.hidden-content {
  display: none;
}

input[id="title"] {
  width: 390px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-family: "Work sans";
  color: #444444;
  font-size: 14px;
}

#category {
  width: 420px;
  height: 51px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  font-family: "Work sans";
  color: #444444;
  font-size: 14px;
  padding-left: 20px;
}

.custom-select {
  position: relative;
  width: 100%;
  display: inline-block;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
}

.validation {
  width: 237px;
  height: 36px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #A7A7A7;
  color: #FFFEF8;
  cursor: pointer;
  outline: none;
  font-family: "Syne";
}

.fa-arrow-left {
  color: black;
  font-size: 20px;
  position: relative;
  left: -60px;
  top: -15px;
  cursor: pointer;
}

.add-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#picture {
  width: 76px;
  height: 76px;
}

.button-photo {
  width: 173px;
  height: 36px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #CBD6DC;
  color: #306685;
  cursor: pointer;
  outline: none;
  font-family: "Syne";
}

.button-text {
  font-size: 10px;
}

#modal-error {
  display: flex;
  align-items: center;
  justify-content: center;
  display:none; 
  color:red;
  margin-bottom: 30px;
  position: relative;
  top: -15px;
}